# Compiled class file
*.class

# Log file
*.log
*.netbeans_automatic_build
rainbowengine-core/build/
rainbowengine-tools/rainbowengine-spriteEDIT/dist/
rainbowengine-tools/rainbowengine-RSON/dist/
rainbowengine-sound/build/
rainbowengine-dnd/nbproject/private/
rainbowengine-tools/rainbowengine-RSON/build/
rainbowengine-actor/build/
rainbowengine-core/dist/
rainbowengine-core/nbproject/private/
rainbowengine-dnd/build/
rainbowengine-sound/dist/
/rainbowengine-actor/dist/
/rainbowengine-dnd/dist/
/rainbowengine-tools/rainbowengine-imgconverter/dist/
rainbowengine-actor/nbproject/private/private.xml
/rainbowengine-PalleteRender/nbproject/private/
/rainbowengine-palette-render/build/
/rainbowengine-palette-render/dist/